:root{
  --color-principal: #005999;
  --color-principal-complementar: #0095FF;
  --color-main-text-gray: #686873;
  --text-color-title-group: #265A80;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-condensed{
  font-family: Roboto Condensed;
}
.text-white{
  color: white;
}
.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.mt-30{
  margin-top: 30px;
}
a:focus, button:focus, input:focus, select:focus{
  /*outline: 1px solid #00599942;*/
  outline: none;
}

/*--------------------------------------------------*/
div.group-btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.group-btns > button{
  margin: 10px 0;
  
}


